.lines-column-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.round-label {
  height: 20px;
}

.lines-column {
  width: 60px;
  pointer-events: none;
}

.connector-group {
  position: relative;
}

.line-connector {
  position: absolute;
  background: #888;
  pointer-events: none;
}

.line-connector.vertical {
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  border-radius: 2px;
}

.line-connector.horizontal {
  left: 50%;
  width: 371px;           // длина горизонтальной линии
  height: 3px;
  border-radius: 2px;
}