.register-form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: fluid(20px, 30px);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-l);
  row-gap: fluid(10px, 20px);
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  max-height: 100dvh;
  max-height: 100vh;
  overflow: hidden;
  &__ppv-logo {
    display: flex;
    justify-content: center;
  }

  &__fields {
    display: grid;
    gap: fluid(10px, 20px);
    overflow-y: auto;
    min-height: 0;
    flex: 1;
    @media (min-width: 640px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: fluid(10px, 20px);
  }

  &__no-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: fluid(5px, 10px);
    flex-wrap: nowrap;
    font-size: var(--text-sm);

    :last-child {
      color: var(--color-teracotta-08);
    }
  }
}