{
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "printWidth": 80,
  "bracketSpacing": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "arrowParens": "always",
  "jsxSingleQuote": false
}