.match-statistics {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: fluid(20px, 44px);

  &__opponents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    row-gap: fluid(20px, 34px);
  }
}