.match-history {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: fluid(10px, 15px);
  overflow: hidden;

  &__table {
    flex: 1;
    min-height: 0;
    overflow-y: scroll;
  }
}